<!DOCTYPE html>
<html>
    <head>
<!--  
        defined css archive
        deinido arquivo css 
-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
<!-- 
        defined javascript archive
        definido arquivo javascript 
-->
        <script src="{{ url_for('static', filename='js/register.js') }}" defer></script>
    </head>
    <body>
<!--
        here we create the form to make a register from a new user
        aqui nós criamos um formulário para registrar um novo usuário
-->        
        <form method="POST" action="/registerusermessage">
            <fieldset class="other">
<!--
                here the user put the personal information from himself
                aqui o usuário coloca as informações pessoais dele mesmo
-->
                <legend>
                    User Data
                </legend>
                <label for="input_name">name</label>
                <input type="text" name="input_name" id="input_name">
                <label for="input_birthday">birthday</label>
                <input type="date" name="input_birthday" id="input_birthday">
                <label for="input_identity_number">identity number</label>
                <input type="number" name="input_identity_number" id="input_identity_number">
                <label for="input_addreess_other">address</label>
                <input type="text" name="input_addreess_other" id="input_addreess_other">
            </fieldset>
<!--
                here the user put the login information for himself
                aqui o usuário coloca as informações de login para ele mesmo
-->
            <fieldset class="other">
                <legend>
                    Login Data
                </legend>
                <label for="input_email">email</label>
                <input type="text" name="input_email" id="input_email">
                <label for="input_password">Password</label>
                <input type="password" name="input_password" id="input_password">
                <label for="input_password_repeat">Repeat Your Password</label>
                <input type="password" name="input_password_repeat" id="input_password_repeat">
            </fieldset>
            
            
            <button id="send" class="button" type="submit" disabled>Enviar</button>
        </form>
        
    </body>
</html>